.card-heading {
  font: var(--fontBold);
  font-size: 1.5vw;
  font-weight: 800;
}

.widget-subtitle {
  font-size: 1vw;
  color: gray;
  margin-bottom: 2rem;
}
.card-custom {
  border-radius: 1rem !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  margin: 1.5rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  .consumption-line{
    width: 90% !important;
   }
}
.add-new-btn {
  background-image: linear-gradient(
    to right,
    var(--color3) 0%,
    var(--color5) 51%,
    var(--color3) 100%
  );
  width: 28%;
  margin-left: auto;
  font-size: 1.5vw;
  padding: 0.5vw 2vw;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-width: 0;
  border-radius: 100px;
  border-color: #ffffff;
  display: block;
  font-weight: 800;
  font: var(--fontBold);
  font-size: 1.5vw;
  letter-spacing: 1px;
}

