/* You can add global styles to this file, and also import other style files */
:root {--color1: #465da4;
    --color2: #F3837A;
    --color3: #364096;
    --color4: #F3A7AB;
    --color5: #70c49c;
    --color6: #F8A992;
    --color7: #FCC294;
    --color8: #4164AD;
    --color9: #444444;
    --color10: #6b6b6b;
    --color11: #bababb;
    --color12: #eeeeee;
    --heatmap-color1: #63c5bf;
    --heatmap-color2: #82c67c;
    --heatmap-color3: #f2c853;
    --heatmap-color4: #ecab5c;
    --heatmap-color5: #ee6259;
    
    --fontRegular: 'Avenir-Roman';
    --fontBold: 'Gilroy-Bold';
    --fontLight: 'Gilroy-Light';
    
    }