/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: 'Avenir-Roman'!important }

@font-face {
  font-family: Gilroy-Bold;
  src: url(assets/Font/Avenir/gilroy-extrabold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: Avenir-Roman;
  src: url(assets/Font/Avenir/Avenir-Roman.woff2) format("woff2");
}

@font-face {
  font-family: Gilroy-Light;
  src: url(assets/Font/Avenir/gilroy-light-webfont.woff2) format("woff2");
}

:root {--color1: #465da4;
    --color2: #F3837A;
    --color3: #364096;
    --color4: #F3A7AB;
    --color5: #70c49c;
    --color6: #F8A992;
    --color7: #FCC294;
    --color8: #4164AD;
    --color9: #444444;
    --color10: #6b6b6b;
    --color11: #bababb;
    --color12: #eeeeee;
    --heatmap-color1: #63c5bf;
    --heatmap-color2: #82c67c;
    --heatmap-color3: #f2c853;
    --heatmap-color4: #ecab5c;
    --heatmap-color5: #ee6259;
    
    --fontRegular: 'Avenir-Roman';
    --fontBold: 'Gilroy-Bold';
    --fontLight: 'Gilroy-Light';
    
    }
    .background-theme {
      background-color: #e5f2fb;
}

.bs-datepicker-body table td.week span 
{
  color: var(--color3) !important; 
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover 
{
  background-color: var(--color3)!important; 
}
.bs-datepicker {
  transform: translateX(-123px) translateY(100px) !important;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
